@* Add this as a page with a href *@
@page "/fileInput"
@rendermode InteractiveServer

<PageTitle>File Input</PageTitle>

<h1>Input File</h1>


@* Input button, loads function, only accepts .txt *@
<InputFile OnChange="LoadFile" accept=".txt" />



@* If a file exists, display its information *@
@if (file != null)
{
    <ul>
        <li>Name: @file?.Name</li>
        <li>Last modified: @file?.LastModified.ToString()</li>
        <li>Size (bytes): @file?.Size</li>
        <li>Content type: @file?.ContentType</li>
        <li>Content: @content</li>
    </ul>
}

@* Code block for writing C# *@
@code {

    private IBrowserFile? file;
    private string content = "";


    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        // Extract the file
        file = e.File;

        // Open the text file using a stream reader.
        var fileStream = file.OpenReadStream();
        var reader = new StreamReader(fileStream);

        // Read the stream as a string.
        string fileContent = await reader.ReadToEndAsync();

        // Assign to global content variable
        content = fileContent;
    }
}
