@page "/"
@using System.Text.RegularExpressions
@rendermode InteractiveServer
@using BlazorBootstrap
@inject NavigationManager NavManager


<PageTitle>GCReplay Home</PageTitle>

<h1>Welcome to GCReplay! - The easiest way to view your group chat and DM analytics.
</h1>

<h2>How does GCReplay work?</h2>
<p>Simply upload a file containing your chat history. Our tool will analyse various aspects of your conversations, such as the number of messages exchanged on a specific day, providing you with insightful statistics.
</p>

<p>To begin analysing, please select the desired social media platform below.
</p>

<button @onclick="@(() => navigateToPage("whatsapp"))">WhatsApp</button>
<button @onclick="@(() => navigateToPage("discord"))">Discord</button>
<button>x</button>
<button>y</button>
 
<h2>Frequently Asked Questions (FAQs)
</h2>

<h4>What happens to the data I upload?
</h4>
<p>When you upload your chat data, GCReplay processes it by breaking it down into individual messages, with components like:
</p>
<ul>
    <li>Date: 21/06/2025</li>
    <li>Time: 15:46</li>
    <li>Sender: John Doe</li>
    <li>Message: [message content]</li>
</ul>
<p>GCReplay then analyses each message and calculates interesting statistics based on these components.
</p>

<h4>Is the content of my messages being read or shared?
</h4>
<p>No. While GCReplay identifies each message's structure—including emojis—it does not read, interpret, or share the content itself. Your message content remains private.
</p>

<h4>Is my data stored or distributed?
</h4>
<p>No. All analysis and calculations occur directly in your browser. GCReplay does not save, store, or distribute any of your data.
</p>

@code{
    private void navigateToPage(string option)
    {
        NavManager.NavigateTo($"/{option}");
    }

}