.tile[b-b0g3tpxzs9] {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-width: 20px;
    border-style: solid;
    padding: 30px;
    color: #fff;
    text-align: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.tileHeader[b-b0g3tpxzs9] {
    text-align: center;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.optionsContainer[b-b0g3tpxzs9]{
    gap: 30px;
    position: absolute;
    top: 2px;
    right: 10px;
    display: flex;
    padding: 0%;
}

.icon[b-b0g3tpxzs9]{
    cursor: pointer;
    font-size: 24px;
}