.tileGrid[b-aoz94iou5j] {
    width: 100%;
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 30px;
}

@media (max-width: 750px) {
    .tileGrid[b-aoz94iou5j] {
        width: 100%;
        display: grid;
        margin-inline: 0;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
    }
}